<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Esse é meu 1º site Flask !!!</h1>
    <p>É um sistema só para aprender os conceitos básicos do Flask.</p>
    <p>-- Página sem parâmetros:</p>
    <p>Meus contatos <a href="/contatos">aqui</a>.</p>
    <br>
    <p>-- Páginas com parâmetro:</p>
    <h3>Usuários</h3>
    <ul>
        <li><a href="/usuarios/Diego">Diego</a></li>
        <li><a href="/usuarios/Matheus">Matheus</a></li>
        <li><a href="/usuarios/Ariella">Ariella</a></li>
        <li><a href="/usuarios/Davi">Davi</a></li>
        <li><a href="/usuarios/Guilherme">Guilherme</a></li>
        <li><a href="/usuarios/Beatriz">Beatriz</a></li>
        <li><a href="/usuarios/Lucas">Lucas</a></li>
        <li><a href="/usuarios/André">André</a></li>
        <li><a href="/usuarios/João">João</a></li>
        <li><a href="/usuarios/Leonardo">Leonardo</a></li>
        
    </ul>
    
</body>
</html>